@import "~./variables.scss";

$bg-color: #f2f3f8;
$navbar-bg-color: #242939;
$navbar-color: #6e7899;
$sidebar-bg-color: #fff;
$sidebar-color: #3d4465;
$sidebar-icon-color: #c4cff9;
$border-shadow: 1px 1px 2px rgba($border-color, 0.5);

.card {
  box-shadow: $border-shadow;

  .card-title {
    color: rgba($sidebar-color, 0.8);
  }

  .card-icon {
    fa-icon {
      color: #98a4c7;
      font-size: 3rem;
    }
  }

  .card-footer {
    //border-top: 1px solid $border-color;
    background: none;
  }

  .card-title {
    border-bottom: 1px solid $border-color;
  }
}

.btn {
  font-size: 0.9rem;

  &.btn-lightning {
    color: #f0f3ff;
    background-color: #5b6582;
    border-color: #5b6582;

    &:hover {
      background-color: #4c5671;
    }
  }

  &.btn-outline-lightning {
    color: #5b6582;
    background-color: transparent;
    border-color: #5b6582;

    &:hover {
      color: #f0f3ff;
      background-color: #5b6582;
      border-color: #5b6582;
    }
  }
}

.form-control {
  font-size: 0.9rem;
}

.text-lightning {
  color: #98a4c7;
}
