$primary-color: #132a40;
$secondary-color: #1b3b59;
$tertiary-color: #224c73;
$quaternary-color: #4f6f8f;
$quinary-color: #7b93ab;

$bg-color: #f2f3f8;
$navbar-bg-color: $primary-color;
$navbar-buttons-text-color: $quinary-color;
$navbar-text-color: $quinary-color;
$navbar-text-active-color: $tertiary-color;
$navbar-buttons-bg-color: $tertiary-color;
$navbar-color: #6e7899;
$sidebar-bg-color: #fff;
$sidebar-color: #3d4465;
$sidebar-icon-color: #c4cff9;
$border-color: $secondary-color;
$content-bg-color: $quinary-color;
