<div class="container-fluid">
  <div class="row pt-4">
    <div class="col-md-12 text-center mb-2">
      <small>
        © 2020 made with
        <fa-icon [icon]="faHeart" class="text-danger"></fa-icon> by
        <span class="text-secondary font-weight-bold"
          >Ozires da Cruz</span
        ></small
      >
    </div>
    <div class="col-md-12 text-center mb-3">
      <a
        href="#"
        target="_blank"
        class="btn btn-sm bg-light text-dark shadow rounded-circle text-light m-2"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
      <a
        href="#"
        target="_blank"
        class="btn btn-sm bg-light text-dark shadow rounded-circle text-light m-2"
        ><fa-icon [icon]="faTwitter"></fa-icon
      ></a>
      <a
        href="#"
        target="_blank"
        class="btn btn-sm bg-light text-dark shadow rounded-circle text-light m-2"
        ><fa-icon [icon]="faInstagram"></fa-icon
      ></a>
      <a
        href="#"
        target="_blank"
        class="btn btn-sm bg-light text-dark shadow rounded-circle text-light m-2"
        ><fa-icon [icon]="faLinkedin"></fa-icon
      ></a>
    </div>
  </div>
</div>
